# Standardized A/B Testing Analysis

In [216]:
# Import packages as required. We will use most of the below packages in one way or the other

import pandas as pd
import numpy as np
#import turbodbc
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import scipy as sp
import scipy.stats
#import sample_config

In [7]:
# Save the dataset to disk for future use
#testdata.to_pickle('testdata.pkl') 

# You can load it back using read_pickle
testdata = pd.read_pickle('/Users/sravanvadigepalli/Downloads/testdata.pkl')
testdata.head(5)

  treatment_id                        visitor_id order_id  units  demand_sales
0      CONTROL  015600B7FEE80102D9DF41F8156403D5        0    NaN           0.0
1      CONTROL  01560548341C0102F11D0884B2B639D3        0    NaN           0.0
2      CONTROL  0156AB17C3CE010299142107468A8F2A        0    NaN           0.0
3      CONTROL  0156F7358FAA0101B1D9C9FA09489163        0    NaN           0.0
4      CONTROL  015733E5AFAC0102AA9480BAEFE8EF3F        0    NaN           0.0

In [181]:
testdata.groupby('treatment_id')[['visitor_id','order_id','units','demand_sales']].agg({'visitor_id':'count','order_id':'nunique','units':'sum','demand_sales':'sum'})

              visitor_id  order_id    units   demand_sales
treatment_id
CONTROL           109623      9930  40281.0  686862.199974
TEST              108507      9775  39827.0  685277.589503

In [206]:
control_ds = testdata[testdata.treatment_id=='CONTROL'][['treatment_id','visitor_id','order_id','units','demand_sales']]
test_ds = testdata[testdata.treatment_id=='TEST'][['treatment_id','visitor_id','order_id','units','demand_sales']]
test_ds.head()

,treatment_id,visitor_id,order_id,units,demand_sales
225,TEST,0156BF3F2CA001014F2B9C1F2B4AA6FE,0,NaN,0.00000
226,TEST,015702CECC38010251ECAA025B4285C7,0,NaN,0.00000
227,TEST,015703FDC76001025B2021582C3907D3,0,NaN,0.00000
228,TEST,01570FEAD05B0101DA87FDCFB7EBDB8A,1019757458448,1.0,329.98999
229,TEST,015726DCB8A3010260343721348B9443,0,NaN,0.00000

In [214]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0*np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * sp.stats.t._ppf((1+confidence)/2., n-1)
    return m, m-h, m+h

In [218]:
stats.ttest_ind(control_ds.demand_sales, test_ds.demand_sales, equal_var=False)

Ttest_indResult(statistic=-0.35131191419298763, pvalue=0.7253546977589398)

In [102]:
9932+9777

19709

In [22]:
app_analytics[(app_analytics.rfm_combined== 114) & (app_analytics.visitorsegments== 'LostVisitors')].head(10)

,visitorid,rfm_recency,rfm_frequency,rfm_monetary,rfm_combined,visitorsegments
0,0123456789ABCDEF0123456789ABCDEF,1,1,4,114,LostVisitors
280,0157EFF732F10104B648E1E6F6180E3F,1,1,4,114,LostVisitors
396,0157F012526701048B71600520B46CE7,1,1,4,114,LostVisitors
404,0157F0147EC50104BFA0DAC21F535C82,1,1,4,114,LostVisitors
417,0157F017235C0104930554F8568D76CA,1,1,4,114,LostVisitors
527,0157F031365401049B3187AC9A88DC14,1,1,4,114,LostVisitors
528,0157F031EA85010489F8374CD9DA4D56,1,1,4,114,LostVisitors
644,0157F04A00100104A310768C08B14726,1,1,4,114,LostVisitors
699,0157F05884870104B5FD14A147E46910,1,1,4,114,LostVisitors
720,0157F05CC0180104A55D37719E7ADDDF,1,1,4,114,LostVisitors

In [42]:
app_analytics[(app_analytics.visitorsegments == 'LostVisitors') & (app_analytics.rfm_combined == 114)][['rfm_recency']].head(3)

     rfm_recency
0              1
280            1
396            1

In [49]:
app_analytics[['rfm_recency','rfm_monetary']].head(3)

   rfm_recency  rfm_monetary
0            1             4
1            1             4
2            5             4

In [54]:
app_analytics[app_analytics.rfm_recency == 1].head(3)

,visitorid,rfm_recency,rfm_frequency,rfm_monetary,rfm_combined,visitorsegments
0,0123456789ABCDEF0123456789ABCDEF,1,1,4,114,LostVisitors
1,0152309A37B90104B08794E93333AA48,1,5,4,154,ChurnVisitors
3,01559EADC07D0102BCD67BD57B5334F2,1,4,3,143,ChurnVisitors

In [58]:
app_analytics[['visitorsegments','rfm_combined']].sort_values('rfm_combined', ascending = False).head(10)

          visitorsegments  rfm_combined
1705669  Loyal_HSVisitors           555
2034338  Loyal_HSVisitors           555
312569   Loyal_HSVisitors           555
2034265  Loyal_HSVisitors           555
2034271  Loyal_HSVisitors           555
2034277  Loyal_HSVisitors           555
312559   Loyal_HSVisitors           555
2034320  Loyal_HSVisitors           555
2034325  Loyal_HSVisitors           555
2034330  Loyal_HSVisitors           555

In [67]:
app_analytics[~app_analytics.visitorsegments.isin(['Loyal_HSVisitors', 'LostVisitors'])].head(10).sort_values(['rfm_combined','visitorsegments'], ascending = False)

,visitorid,rfm_recency,rfm_frequency,rfm_monetary,rfm_combined,visitorsegments
9,0155D5A826010103AB20965E00439D2C,5,4,2,542,Loyal_LSVisitors
17,0155F51848220102ED5B28E9EA8CCABF,5,1,1,511,Recent_Visitors
16,0155F454E9F9010254E2E6F639947876,4,2,4,424,Recent_Visitors
15,0155F28795CD010251554DF02F92BED5,3,4,5,345,Frequent_Visitors
6,0155B90E2B44010257EAAEF8A26FFFFC,3,3,3,333,HS_Visitors
10,0155DC7A1BC601025D177B472CADE8BF,3,3,2,332,LS_Visitors
11,0155E0ABD10E01021DE89F9558D8F5F5,3,2,2,322,LS_Visitors
4,0155A49F176C01035FB33BC4CE918886,2,3,2,232,LS_Visitors
1,0152309A37B90104B08794E93333AA48,1,5,4,154,ChurnVisitors
3,01559EADC07D0102BCD67BD57B5334F2,1,4,3,143,ChurnVisitors

In [82]:
app_analytics.groupby(['visitorsegments', 'rfm_combined']).size().sort_values(ascending = False).head(10)

visitorsegments   rfm_combined
Loyal_HSVisitors  555             214973
                  455             115294
LostVisitors      111             109144
LS_Visitors       332              95982
                  331              93740
Recent_Visitors   411              90487
LS_Visitors       221              89323
                  222              84457
LostVisitors      112              80957
HS_Visitors       333              80951
dtype: int64

In [91]:
app_analytics.groupby('visitorsegments').filter(lambda x: len(x) > 90000).groupby('visitorsegments').size().sort_values(ascending = False)

visitorsegments
Loyal_HSVisitors     751335
LS_Visitors          548455
Recent_Visitors      534167
LostVisitors         492782
ChurnVisitors        419167
HS_Visitors          333835
Frequent_Visitors    252565
dtype: int64

In [95]:
app_analytics.nlargest(10,columns ='rfm_combined')
app_analytics.nlargest(10, columns = 'rfm_combined').tail()

,visitorid,rfm_recency,rfm_frequency,rfm_monetary,rfm_combined,visitorsegments
91,0156B3C2690D0102F957B56F9BCF3B0A,5,5,5,555,Loyal_HSVisitors
117,0156FBC2B57D0102DB33842403A787A8,5,5,5,555,Loyal_HSVisitors
143,01573439D241010232A70C091E4903C5,5,5,5,555,Loyal_HSVisitors
163,01575EB6F9C00102D95917C15B7F4660,5,5,5,555,Loyal_HSVisitors
181,01577494640601027255802A7D65957C,5,5,5,555,Loyal_HSVisitors

In [96]:
runways.agg({'length_ft': ['min', 'max', 'mean', 'median']})

NameError: name 'runways' is not defined

In [28]:
app_loyal = app_analytics[app_analytics.visitorsegments== 'Loyal_HSVisitors']
app_loyal.head(10)

,visitorid,rfm_recency,rfm_frequency,rfm_monetary,rfm_combined,visitorsegments
2,01559E20E21F0102587BC6BA74F3D763,5,5,4,554,Loyal_HSVisitors
7,0155C1ED29910102445DF18A4164C90F,4,4,3,443,Loyal_HSVisitors
8,0155C6B95088010246925D3148C8AE64,4,5,5,455,Loyal_HSVisitors
12,0155E1F8E33B010241D99D4FE167CF2F,5,5,5,555,Loyal_HSVisitors
13,0155E49DFE3D0103AE325F0B30C1EB04,5,4,5,545,Loyal_HSVisitors
14,0155E80C19FC0102C6950D30A95AE652,5,5,5,555,Loyal_HSVisitors
18,0155F9415996010298D992989700A6B3,5,5,5,555,Loyal_HSVisitors
19,0155FA4D6F9101022FDF0E861BF36EEF,4,4,4,444,Loyal_HSVisitors
21,015602C30C3B0102E10B6DEF2F0BB4CB,5,5,4,554,Loyal_HSVisitors
25,01560D3F92FD0102C389CABF63AE3E95,5,4,3,543,Loyal_HSVisitors

In [ ]:
app_joined_df = app_analytics.merge(app_loyal, left_on = "visitorsegments", right_on = "visitorsegments", how = "inner")

In [ ]:
airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], left_on='airport_ref', right_on='id', how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]